h1, h2, h3, h4, h5, p {
	text-align: center;
}

.scoretable {
	width: 100%;
}

.score {
	color: #36407F;
	font-size: 2em;
}

.conf-img {
	margin: 0 auto;
}

.topheader {
	text-align: center;
	font-size: 200%;
	background-color: #36407F;
	color: #FFFFFF;
}